@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
    --delete-color: rgba(173, 0, 0);
    --delete-color-darker: rgb(138, 0, 0);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color:var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

input{
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
}

input:focus {
    outline: 1px solid var(--primary-color);
}

button{
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
}

.button-add-tarefa{
    background-color: var(--primary-color);
}

.button-add-tarefa:hover{
    background-color: var(--primary-color-darker);
    color: rgb(192, 192, 192);
}

.button-add-tarefa:active{
    background-color: rgb(7, 35, 41);
    color: rgb(139, 139, 139);
}

.button-apagar-tarefa{
    background-color: var(--delete-color);
    margin-left: 10px;
    height: 30px;
}

.button-apagar-tarefa:hover{
    background-color: var(--delete-color-darker);
    color: rgb(192, 192, 192);
}

.button-apagar-tarefa:active{
    background-color: rgb(104, 0, 0);
    color: rgb(139, 139, 139);
}

li{
    margin-bottom: 10px;
}

